h1 {
    padding-top: 35px;
}

.nav-links a {
    color: #343a40;
}

.nav-links a:hover {
    color: #000000;
    text-decoration: none;
}

.nav-links a + a {
    padding-left: 15px;
}

.nav-links a.active {
    text-decoration: underline;
}

ul li {
    font-style: italic;
}